body{
  font-size: 0.4em;
}
h5 {
  font-size: 0.5em;
}
.bloc_left_price {
    color: #c01508;
    text-align: center;
    font-weight: bold;
    font-size: 150%;
}
.category_block li:hover {
    background-color: #007bff;
}
.category_block li:hover a {
    color: #ffffff;
}
.category_block li a {
    color: #343a40;
}
.add_to_cart_block .price {
    color: #c01508;
    text-align: center;
    font-weight: bold;
    font-size: 200%;
    margin-bottom: 0;
}
.add_to_cart_block .price_discounted {
    color: #343a40;
    text-align: center;
    text-decoration: line-through;
    font-size: 140%;
}
.product_rassurance {
    padding: 10px;
    margin-top: 15px;
    background: #ffffff;
    border: 1px solid #6c757d;
    color: #6c757d;
}
.product_rassurance .list-inline {
    margin-bottom: 0;
    text-transform: uppercase;
    text-align: center;
}
.product_rassurance .list-inline li:hover {
    color: #343a40;
}
.reviews_product .fa-star {
    color: gold;
}
.pagination {
    margin-top: 20px;
}
.btn, .form-control{
  font-size: 0.5em;
}
.discount {
  text-align: center;
}

footer {
    background: #343a40;
    padding: 40px;
}
footer a {
    color: #f8f9fa!important
}

@media only screen and (min-width: 600px) {
    .ml {
        margin-left: 1em;
    }
}
@media only screen and (min-width: 768px) {
    body {
        font-size: 1em;
    }
    h5 {
        font-size: 1.25em;
    }
    .bloc_left_price {
        font-size: 75%;
    }
    .add_to_cart_block .price {
        font-size: 150%;
    }
    .add_to_cart_block .price_discounted {
        font-size: 170%;
    }
    .discount {
      text-align: left;
    }
    .input-group {
      padding: 0.5em;
    }
    .btn, .form-control{
      font-size: 1em;
    }
}