/* Header top */
.header-top {
    display: none;
    flex-wrap: nowrap;
    height: 29px;
    background-color: #111;
}

.header-top > div {
    width: 25%;
    text-align: center;
    font-size: 15px;
    color: whitesmoke;
    padding: 5px;
}

.header-top a {
    color: whitesmoke;
}

/* Header, search, nar bar */
.fix_search {
    float: right;
}

.searchbar {
    margin-bottom: auto;
    margin-top: auto;
    font-size: 13px;
    height: 30px;
    background-color: white;
    border: #777 solid 1px;
    border-radius: 15px;
    padding: 5px;
}

.search_input {
    color: #777;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color: transparent;
    line-height: 20px;
}

.searchbar:hover>.search_input {
    padding: 0 10px;
    width: 100px;
    caret-color: red;
    transition: width 0.4s linear;
}

.searchbar:hover>.search_icon {
    background: white;
    color: #e74c3c;
    text-decoration: none;
}

.search_icon {
    height: 20px;
    width: 20px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #777;
    text-decoration: none;
}

.header {
    background-color: white;
}

.text_nav {
    color: black;
}

.text_nav:hover, .text_nav:active {
    color: #e74c3c;
}

.navbar-brand img {   
    height: 40px;
    width: auto;
}

.navbar-icon-top .navbar-nav .nav-link>.fa {
    position: relative;
    width: 36px;
    font-size: 24px;
}

.navbar-icon-top .navbar-nav .nav-link>.fa>.badge {
    font-size: 0.75rem;
    position: absolute;
    right: 0;
    font-family: sans-serif;
}

.navbar-icon-top .navbar-nav .nav-link>.fa {
    top: 3px;
    line-height: 12px;
}

.navbar-icon-top .navbar-nav .nav-link>.fa>.badge {
    top: -10px;
}

li.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown-menu a {
    font-size: 16px;
}

.font-menu {
    font-size: 20px;
    font-weight: 700;
    color: #888;
}

.padding_nav {
    padding: 0;
}

/* Event */
.event img {
    width: 100%;
    height: auto;
}

/* Footer */
.text {
    font-size: 12px;
    line-height: 1.42857143;
}

.text-footer {
    color: #979797;
}

.text-content {
    color: #fff;
}

hr {
    color: rgb(226, 197, 30);
    background: rgb(226, 197, 30);
    border: 0;
    height: 1px;
}

.text-footer-center a:hover {
    color: #E2E2E2;
    text-decoration: none;
}

.bg {
    background-color: #414143;
}

.text-footer a:hover {
    text-decoration: none;
}


/* Content */
.block_title_content {
    position: relative;
    float: left;
    width: 100%;
}

.block_title {
    color: #f9b041;
    font-weight: 700;
    margin-bottom: 8px;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    padding: 50px 110px;
    margin-top: 10px;
    font-weight: 600;
}

.block_title_content:before {
    content: "";
    width: 100px;
    height: 3px;
    background: #f9b041;
    line-height: 28px;
    position: absolute;
    z-index: 0;
    top: 85px;
    left: 0;
}

.list_area {
    position: relative;
}

.product-list {
    padding-left: 5px;
    padding-right: 5px;

}

.img_product {
    width: 100%;
    height: auto;
}

.product .change_img {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.product:hover .change_img {
    display: block;
}

.list_btn {
    display: inline-block;
    width: 26px;
    height: 26px;
    padding: 2px;
    position: relative;
    border-radius: 50%;
    border: powderblue solid 2px;
}

.list_color {
    width: 26px;
    height: 26px;
    position: absolute;
    top: 0;
    left: 0;
}

.den {
    background-color: black;
}

.hong {
    background-color: pink;
}

.vang {
    background-color: yellow;
}

.xam {
    background-color: #888;
}

.list_btn:hover {
    border: orangered solid 2px;
}

.price_default {
    text-decoration: line-through;
    text-decoration-color: #faaf41;
    font-size: 16px;
}

.line_between {
    font-size: 16px;
}

.price_sale {
    font-weight: 700;
    font-size: 20px;
}

.change_color ul {
    margin: 0;
}

.sale {
    color: red;
    font-size: 17px;
    font-weight: bold;
}


/* Media */
@media only screen and (min-width: 600px) {
    .navbar-brand img {
        height: 50px;
        width: auto;
    }
}

@media only screen and (min-width: 768px) {
    .navbar-brand img {
        height: 60px;
        width: auto;
    }
}


@media only screen and (min-width: 992px) {
  .header-top {
    display: flex;
  }
}

@media only screen and (min-width: 1200px) {
    .navbar-brand {
        height: auto;
    }

    .searchbar:hover > .search_input {
        width: 180px;
    }

    .font-menu {
        font-size: 24px;
    }
}