html,body,h1,h2,h3,h4,h5,h6 {
  font-family: "Roboto", sans-serif
}
body {
  position: relative;
}

a {
  text-decoration: none;
}

/* Header top */
.header-top {
  display: flex;
  flex-wrap: nowrap;
  height: 29px;
  background-color: #111;
}
.header-top > div {
  width: 25%;
  text-align: center;
  font-size: 15px;
  color: whitesmoke;
  padding: 5px;
}
.header-top a { 
  color: whitesmoke;
}

/* Nav bar */
.nav-item a{
  color: f8f9fa!important;
}

/* Carousel */
.carousel-inner img {
  width: 100%;
  height: 100%;
}
.carousel-caption h4{
  color: #111;
  font-size: 2em;
  font-weight: 700;
}
.carousel-caption a {
  color: #B64E30;
}
.carousel-caption a:hover {
  text-decoration: none;
  color: #FE2F18;
}
.carousel-caption a h2{
  font-size: 4em;
  font-weight: 900;
}

/* Content top row */
.row-col1 h2 {
  font-size: 1.5em;
  color: #F2262C;
}


/* Products head */

.r-products-head-left {
  float: left;
}

.r-products-head-left h3 {
  margin: 0;
  padding: 0;
  color: #000;
  font-weight: 600;
}

.r-products-head-left h3 span {
  color: #F2262C;
}

.r-products-head-right {
  float: right;
}

.r-products-head-right a {
  color: #504F4F;
  font-style: italic;
}

.r-products-head-right a:hover {
  color: #FE3026;
  text-decoration: none;
}

.r-products-head-right a span {
  width: 5px;
  height: 8px;
  display: inline-block;
  background: url(../images/arrow1.png) no-repeat 0px 0px;
  margin-right: 0.2em;
}

/* All products */
.all-products {
  background: #FFF;
}
.all-products-grids {
  margin: 1.3em 0;
}
.all-products-grid {
  border: 1px solid #E2E2E2;
  padding: 0.5em 0.5em 1em 0.5em;
  border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
.all-products-grid:hover {
  border: 1px solid #FE3026;
}
.all-products-grid h4 {
  width: 80%;
  margin: 0 auto 0.5em;
}
.all-products-grid h4 a {
  font-weight: 600;
  color: #2E2E2E;
  margin: 0 0 1em;
  display: block;
}
.all-products-grid h4 a:hover {
  text-decoration: none;
  color: #FE3026;
}

.product-btn {
  background: #FE2F18;
  padding: 0.4em 1em;
  color: #fff;
  border-radius: 30em;
  -webkit-border-radius: 30em;
  -moz-border-radius: 30em;
  -o-border-radius: 30em;
  -ms-border-radius: 30em;
  border: 1px solid #B64E30;
  border-top: 2px solid #B64E30;
  display: inline-block;
}
.product-btn:hover {
  text-decoration: none;
  background: #5B5B5B;
  border: 1px solid #5B5B5B;
  border-top: 2px solid #5B5B5B;
}
.product-btn span {
  padding-right: 0.3em;
  margin-right: 0.3em;
  border-right: 1px solid #888;
  display: inline-block;
}
.product-btn:hover {
  text-decoration: none;
  color: #FFf;
}
.product-btn label {
  width: 12px;
  height: 12px;
  display: inline-block;
  background: url(../images/arrow.png) no-repeat 0px 0px;
  vertical-align: middle;
  margin-left: 0.2em;
}
.all-products-grid img {
  display: block;
  margin: 0 auto;
}

/* Footer */
.text {
  font-size: 12px;
  line-height: 1.42857143;
}
.text-footer {
  color: #979797;
}
.text-content {
  color: #fff;
}

hr {
  color: rgb(226, 197, 30);
  background: rgb(226, 197, 30);
  border: 0;
  height: 1px;
}
.text-footer-center a:hover {
  color: #E2E2E2;
  text-decoration: none;
}
.bg {
  background-color: #414143;
}
.text-footer a:hover {
  text-decoration: none;
}

/* Fixed */
div.fixed {
  position: fixed;
  top: 87px;
  right: 20px;
}

/* ---Media--- */

@media (max-width: 768px) {
  .header-top {
    display: none;
  }
}

@media (max-width: 600px) {
  .r-products-head-left h3 {
    font-size: 1em;
  }

  .all-products-grids {
    margin: 1.3em 0;
  }
  .all-products-grid {
    border: 1px solid #E2E2E2;
    padding: 0.5em 0.5em 1em 0.5em;
    border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -o-border-radius: 0.3em;
    -ms-border-radius: 0.3em;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
  }
  .all-products-grid:hover {
    border: 1px solid #FE3026;
  }
  .product-here img {
    width: 100%;
    border-bottom: 1px solid #EEE;
    display: block;
    margin-bottom: 0.5em;
  }
  .all-products-grid h4 {
    width: 80%;
    margin: 0 auto 0.5em;
  }
  .all-products-grid h4 a {
    font-weight: 600;
    color: #2E2E2E;
    margin: 0 0 1em;
    display: block;
  }
  .all-products-grid h4 a:hover {
    text-decoration: none;
    color: #FE3026;
  }
  .all-products-grid {
    margin: 0px 15px 15px 0;
    width: 23.7%;
  }
}

@media (min-width: 600px) {
  .r-products-head-left h3 {
    font-size: 1.5em;
  }
}

@media (max-width: 768px) {
  .header-top {
    display: none;
  }
}

